<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>JS Bin</title>
</head>
<body>
  
  <!-- 1  v-text -->
  <div id="app">
    <h1>Hello, 
      <span v-text="name"></span></h1>
  </div>
  
  <hr>
  
  <!-- 2 v-html -->
  <div id="app2">
    <h1>Hello, 
      <span v-html="name2"></span></h1>
  </div>
  
  <hr>
  
  <!-- 3 v-if, v-else, v-else-if, v-once, v-pre -->
  <div id="app3" v-cloak>
    <h1 v-if="value > 5">value 가 5보다 크다</h1>
    <h1 v-else-if="value==0">value는 0이다</h1>
    <h1 v-else>value는 5보다 작다</h1>
    <h2 v-once>초기 값 : {{value}}</h2>
    <h2>현재 값: {{value}}</h2>
    <h1 v-pre>{{이건 그대로 렌더링해}}</h1>
  </div>
  
  <hr>
  
  <!-- 4 -->
  <div id="app4">
   <h1>Hello, {{name}}</h1>
   <h2>{{Date()}}</h2>
   <img :src="feelsgood"/>
   <img :src="smile ? feelsgood : feelsbad"/>
  </div>
  
  <hr>
  
  <!-- 5 v-for -->
  <div id="app5">
    <h2>오늘 할 일</h2>
    <ul>
      <li v-for="todo in todos">{{todo.text}}</li>
    </ul>
  </div>
  
    <hr>
  
  <!-- 6 -->
  <div id="app6">
   <h2>오늘 할 일</h2>
   <ul>
     <li v-for="(todo,index) in todos">{{index}} {{todo.text}}</li>
   </ul>
  </div>
  
    <hr>
  
  <!-- 7 v-model -->
  <div id="app7">
    <h1>Hello, {{name}}</h1>
    <input type="text" v-model="name" />
  </div>
  
  <hr>
  
  <!-- 8 -->
  <div id="app8">
   <h1>Hello, {{name}}</h1>
    <h3><input type="checkbox" v-model="smile"/>change</h3>
   <img :src="smile ? feelsgood : feelsbad"/>
  </div>
  
  <hr>
  
  <!-- 9 v-on -->
  <div id="app9">
    <h1>카운터: {{number}}</h1>
    <button v-on:click="increment">증가</button>
    <button @click="decrement">감소</button>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.2/dist/vue.js"></script>
  <script src='./vues.js'></script>
</body>
</html>